/* some quick styling */
/* center the content */
body{
    width: 768px;
    margin: auto;
}

/* give the button some space on top and styling */
button{
    margin-top: 10px;
    background-color:lightseagreen;
    color: white;
    padding: 10px;
}

/* center align content*/
h1 {
    text-align: center;
}

#buttonDiv {
    text-align: center;
}

/* center and resize the dropdown component */
form {
    width: 400px;
    margin: auto;
}

/* center the results displayed */
#results-display {
    display: flex;
    justify-content: center;
}